In [48]:
# import the important libraries/packages
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import nltk
import seaborn as sns
from collections import Counter

In [5]:
train_data = pd.read_csv('quora-question-pair//train.csv')

In [6]:
test_data = pd.read_csv('quora-question-pair//test.csv')

C:\Users\Plabon\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
test_data.describe()

        test_id question1 question2
count   3563475   3563471   3563469
unique  2607940   2211008   2227399
top     1303969     What      What
freq          2      2033      2016

In [8]:
train_data.describe()

                  id           qid1           qid2   is_duplicate
count  404290.000000  404290.000000  404290.000000  404290.000000
mean   202144.500000  217243.942418  220955.655337       0.369198
std    116708.614503  157751.700002  159903.182629       0.482588
min         0.000000       1.000000       2.000000       0.000000
25%    101072.250000   74437.500000   74727.000000       0.000000
50%    202144.500000  192182.000000  197052.000000       0.000000
75%    303216.750000  346573.500000  354692.500000       1.000000
max    404289.000000  537932.000000  537933.000000       1.000000

In [23]:
test_data.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [26]:
print("Queation 1: ",test_data['question1'][0])
print("Question 2: ", test_data['question2'][0])

Queation 1:  How does the Surface Pro himself 4 compare with iPad Pro?
Question 2:  Why did Microsoft choose core m3 and not core i3 home Surface Pro 4?

In [24]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [9]:
test_data.columns

Index(['test_id', 'question1', 'question2'], dtype='object')

In [10]:
train_data.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate'], dtype='object')

In [12]:
print("Size of the test data: ", test_data.size)
print("Size of the train data: ", train_data.size)

Size of the test data:  10690425
Size of the train data:  2425740

# Missing Data

**Missing data in test Datasest**

In [31]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
id              404290 non-null int64
qid1            404290 non-null int64
qid2            404290 non-null int64
question1       404290 non-null object
question2       404288 non-null object
is_duplicate    404290 non-null int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [32]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563475 entries, 0 to 3563474
Data columns (total 3 columns):
test_id      object
question1    object
question2    object
dtypes: object(3)
memory usage: 81.6+ MB

In [34]:
test_data.isnull().values.sum()

10

In [35]:
train_data.isnull().values.sum()

2

**Few other observations**

In [39]:
np.max(len(train_data.question1))

404290

In [45]:
train_data.question1.

'\uf09eWhat do you usually do with the internet?'

In [47]:
train_data.groupby("is_duplicate")['id'].count()

is_duplicate
0    255027
1    149263
Name: id, dtype: int64

In [74]:
Counter(" ".join(train_data["question1"]).split()).most_common(100)

[('the', 186114),
 ('What', 147489),
 ('is', 108147),
 ('a', 100298),
 ('I', 100126),
 ('How', 99943),
 ('to', 97855),
 ('in', 94407),
 ('of', 79312),
 ('do', 68336),
 ('are', 68235),
 ('and', 65622),
 ('for', 49920),
 ('can', 43217),
 ('you', 41929),
 ('Why', 35027),
 ('best', 33538),
 ('my', 31513),
 ('on', 29352),
 ('it', 28259),
 ('Is', 25515),
 ('does', 22616),
 ('or', 20860),
 ('some', 20612),
 ('be', 20042),
 ('that', 19092),
 ('with', 18949),
 ('get', 18588),
 ('Which', 18314),
 ('an', 17914),
 ('have', 17715),
 ('your', 16935),
 ('from', 15765),
 ('should', 14974),
 ('if', 13112),
 ('Can', 12791),
 ('at', 11889),
 ('good', 11380),
 ('people', 11296),
 ('there', 11003),
 ('between', 10960),
 ('like', 10947),
 ('would', 10130),
 ('as', 9992),
 ('will', 9917),
 ('when', 9500),
 ('about', 9274),
 ('what', 9065),
 ('how', 8714),
 ('most', 8681),
 ('we', 8580),
 ('make', 8483),
 ('by', 8462),
 ('one', 8380),
 ('not', 8090),
 ('way', 8036),
 ('Who', 7875),
 ('If', 7772),
 ('any', 7671),
 ('did', 7552),
 ('Do', 7536),
 ('India?', 7311),
 ('difference', 7285),
 ('was', 7235),
 ('Where', 7086),
 ('they', 7033),
 ('after', 7029),
 ('so', 6364),
 ('know', 6135),
 ('Does', 6089),
 ("What's", 6064),
 ('their', 5951),
 ('this', 5935),
 ('learn', 5926),
 ('much', 5665),
 ('many', 5614),
 ('has', 5432),
 ('think', 5345),
 ('money', 5246),
 ('use', 5221),
 ('find', 5218),
 ('Are', 5204),
 ('than', 5115),
 ('India', 5003),
 ('without', 4966),
 ('am', 4935),
 ('Indian', 4896),
 ('all', 4883),
 ('become', 4838),
 ('more', 4826),
 ('me', 4759),
 ('someone', 4742),
 ('ever', 4692),
 ('who', 4632),
 ('new', 4589),
 ('Quora', 4326),
 ('start', 4315),
 ('time', 4237),
 ('but', 4213),
 ('Quora?', 4175)]